html,
body {
  overflow-x: hidden;
}

@media (max-width: 992px) {
  html, body {
    overflow-x: hidden;
  }
}

/* Ad-banner starts */
.ad-banner {
  background-color: #f8d7da;
  color: #721c24;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.ad-banner i {
  font-weight: bold;
}

.ad-banner span {
  font-size: 16px;
  font-weight: bold;
}

.ad-content {
  display: inline-flex;
  animation: scroll 15s linear infinite;
}

.ad-content p {
  margin: 0;
  padding-right: 50px; /* Space between advertisements */
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Ad-banner ends */

/* Menu starts */
.menu {
  height: 125px;
}

.menuContent {
  padding: 25px 0 15px 0;
}

.menuContent img {
  height: 50px;
  width: 130px;
  margin-top: 20px;
}

.menuContent .title {
  font-weight: bold;
}

.menuContent ul li {
  list-style: none;
}

.menuContent i {
  font-size: 25px;
}

.menuContent span {
  background-color: #feeeef;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.menuContent button {
  background-color: white;
  border: none;
  height: 30px;
  font-weight: 500;
}

.menuContent #button1 {
  width: 180px;
  margin-right: 20px;
}

.menuContent #button2 {
  width: 140px;
  margin-right: 20px;
}

@media (max-width: 992px) {
  .menuContent img {
    height: 40px;
    width: 100px;
    margin-top: 20px;
  }

  .menuContent .title {
    display: none !important;
  }

  .menuContent ul {
    padding-left: 0 !important;
  }

  .menuContent i {
    display: none;
  }

  .menuContent #button1 {
    width: 160px;
    margin-right: 10px;
  }
  
  .menuContent #button2 {
    width: 120px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .menuContent .title {
    display: none !important;
  }

  .menuContent .buttonGroup {
    margin-top: 20px;
  }

  .menuContent #button3 {
    display: none !important;
  }
}
/* Menu ends */

/* Category starts */
.category {
  background-color: black;
  color: white;
}

.category ul {
  padding-left: 0 !important;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.category ul li {
  list-style: none;
  font-weight: 700;
  height: 20px;
  margin-top: 12px;
  font-size: 16px;
  margin-right: 40px;
  position: relative;
}

.label {
  font-size: 0.7em;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  position: absolute;
  top: -17px;
  right: -17px;
}

#label1 {
  background-color: #fb6e5d;
}

#label2 {
  background-color: #15b6d0;
}

#label3 {
  background-color: #f6b039;
}

.category ul li:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .category ul {
    justify-content: space-between;
  }

  .category ul li {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .category ul {
    height: 100px;
    justify-content: start;
  }

  .category ul li {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .category ul {
    height: 100px;
    justify-content: space-between;
  }

  .category ul li {
    margin-right: 15px;
  }
}

@media (max-width: 576px) {
  .category ul {
    justify-content: space-between;
  }

  .category ul li {
    margin-right: 10px;
  }
}
/* Category ends */

/* Banner starts */
.swiper-container-banner {
  width: 100%;
  padding-right: 0!important;

}
.banner {
  background-color: #dff1f1;
  align-items: center;
  overflow-x: hidden;
  padding-right: 0!important;
}

.banner .content {
  margin-left: 310px;
  margin-right: 180px;
}

.banner .content hr {
  border: 1px solid #000 !important;
  width: 30px;
  opacity: 1;
  margin: auto;
  margin-top: 15px;
}

.banner h1 {
  font-weight: bold;
}

.banner .content p {
  margin-top: 15px;
  font-weight: 500;
}

.banner .content button {
  margin: 0 auto;
  display: block;
  height: 50px;
  width: 200px;
  background-color: #000;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.banner .content button:hover {
  background-color: white;
  color: #000;
  border: 1px solid black;
}

@media (max-width: 1200px) {
  .banner .content {
    margin-left: 110px;
    margin-right: 100px;
  }

  body {
    overflow-x: hidden;
  }
}

@media (max-width: 992px) {
  .banner .image {
    display: none;
  }

  .banner .content {
    padding: 30px 0;
  }

  #banner2 {
    display: none;
  }
}



/* Banner ends */

/* Collection starts */
.collection {
  margin-top: 30px;
}

.collection img {
  object-fit: cover;
  transition: transform 0.2s;
}

.collection img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* Collection ends */

/* Arrival starts */
.arrival {
  margin-top: 30px;
}

.arrival h2 {
  font-weight: bold;
}

.arrival hr {
  border: 1px solid #000 !important;
  opacity: 1;
}

.arrival a {
  color: black;
}

.product {
  margin-top: 30px;
}

.product img {
  transition: 0.2s;
}

.product img:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.product span {
  color: #c8c8c8;
}

.product p {
  font-weight: 500;
  font-size: 15px;
}

.product h5 {
  font-weight: 700;
}

.product i {
  font-size: 22px;
}

.arrival button {
  height: 50px;
  width: 300px;
  margin-top: 40px;
  border: 1px solid #d8d8d8;
  background-color: white;
  color: black;
  transition: 0.2s;
}

.arrival button:hover {
  border: none;
  background-color: black;
  color: white;
}

/* Arrival ends */

/* Social starts */
.social {
  margin-top: 80px;
}

.social h1 {
  font-weight: 700;
  font-size: 22px;
}

.social p {
  font-weight: 500;
}

.social button {
  height: 50px;
  width: 252px;
  background-color: #000;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.social button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

@media (max-width: 1200px) {
  .social button {
    width: 216px;
  }
}

@media (max-width: 992px) {
  .social button {
    width: 166px;
  }
}

/* Social ends */

/* Footer starts */
.footer {
  background-color: #242424;
  margin-top: 60px;
}

.footer ul {
  padding-left: 0 !important;
  margin-top: 25px;
}

.footer ul li {
  list-style: none;
  color: #939393;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer ul li:hover {
  color: white;
}

.footer h5 {
  color: white;
}

.footer .email p {
  margin-top: 25px;
}

.footer .email input{
  height: 50px;
  border: 1px solid #939393;
  padding-left: 10px;
  background-color: #242424;
  color: #939393;
}

.footer .email input:focus {
  outline: none;
}

.footer .email button {
  height: 50px;
  background-color: white;
  color: black;
  font-weight: bold;
  transition: 0.2s;
}

.footer .email button:hover {
  background-color: #242424;
  border: 1px solid #939393;
  color: white;
}

.footer .icon span {
  background-color: white;
  color: #000;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer .icon span:hover {
  cursor: pointer;
  background-color: #242424;
  border: 1px solid white;
  color: white;
}

.footer hr {
  color: #939393;
}

.footer .copyRight {
  color: #939393;
}

.footer .payment img {
  height: 25px;
  width: 40px;
  margin-left: 15px;
}

@media (max-width: 1200px) {
  #firstCol, #secondCol, #thirdCol {
    width: 33%;
  }
}

@media (max-width: 992px) {
  /* Make columns go into one row */
  #firstCol, #secondCol, #thirdCol {
    flex: 1; /* Distribute width evenly */
    width: 100%; /* Ensure they span the entire width in the row */
    margin-bottom: 15px; /* Add some space between columns */
  }

  /* Wrap the three columns and email section in a flex container */
  .d-flex.justify-content-between {
    flex-wrap: wrap;
  }

  /* Center the email section */
  .email {
    width: 100%; /* Full width for centered alignment */
    text-align: center; /* Center content in email section */
    margin-top: 20px; /* Add space between columns and email section */
  }

  .email .icon {
    justify-content: center;
  }

  .payment {
    display: none;
  }
}
/* Footer ends */
